---
layout: default
---


{%include slideshow.html%}
{%include homepage-intro.html%}
<header id="gallery-header">Gallery</header>
<div class="gallery">
    <div class="img-and-text" id="wadi-dayqah">
        <p id="waadi-dayqah-text" class="img-text">Wadi Dayqah, Muscat</p>
        <p id="waadi-dayqah-view-button" class="view-button">View<br>
            <span class="img-title" id="img1-title">"Sun-soaked domes of tranquility"</span>
        </p>
        <div class="img" id="waadi-dayqah-img">
            <a href="#" class="img-link">
                <img class="actual-img" src="assets/images/pictures/muscat-wadi-dayqah-dam.jpeg" alt="Waadi Dayqah, Muscat">
            </a>
        </div>
    </div>
    <div class="img-and-text" id="bir-billing">
        <p id="bir-billing-text" class="img-text">Bir Billing, Himachal</p>
        <p id="bir-billing-view-button" class="view-button">View<br>
            <span class="img-title" id="img2-title">"Frost-Glazed"</span>
        </p>
        <div class="img" id="bir-billing-img">
            <a href="#" class="img-link">
                <img class="actual-img" id="bir-billing-actual-img" src="assets/images/pictures/bir-biling-himachal.jpg" alt="Bir-Billing, Himachal Pradesh">
            </a>
        </div>
    </div>
    <div class="img-and-text" id="bimma-sinkhole">
        <p id="bimma-sinkhole-text" class="img-text">Bimma Sinkhole, Muscat</p>
        <p id="bimma-sinkhole-view-button" class="view-button">View<br>
            <span class="img-title" id="img3-title">"Body of the cerulean goddess"</span>
        </p>
        <div class="img" id="bimma-sinkhole-img">
            <a href="#" class="img-link">
                <img class="actual-img" src="assets/images/pictures/bimma-muscat.jpg" alt="Bimma Sinkhole, Muscat">
            </a>
        </div>
    </div>
    <div class="img-and-text" id="mumbai-suburban-monsoon">
        <p id="mumbai-suburban-monsoon-text" class="img-text">Mumbai, Maharashtra</p>
        <p id="mumbai-suburban-monsoon-view-button" class="view-button">View<br>
            <span class="img-title" id="img4-title">"Cemented abode of serenity"</span>
        </p>
        <div class="img" id="mumbai-suburban-monsoon-img">
            <a href="#" class="img-link">
                <img class="actual-img" src="assets/images/pictures/mumbai-sunlit-sky.jpeg" alt="Kullu, Himachal Pradesh">
            </a>
        </div>
    </div>
</div>
