---
layout: default
---


{%include slideshow.html%}
{%include homepage-intro.html%}
<header id="gallery-header">Gallery</header>
<div class="galleries-container">

    <div class="gallery">
        <div class="gallery-metadata">
            <p class="location">Wadi Dayqah,<br>
                Muscat
            </p>
            <p class="name">View<br>
                "Sun-soaked domes of tranquility"
            </p>
        </div>
        <a class="gallery-link">
            <img class="actual-image" src="assets/images/pictures/muscat-wadi-dayqah-dam.jpeg" alt="Waadi Dayqah, Muscat">
        </a>
    </div>

    <div class="gallery">
        <div class="gallery-metadata">
            <p class="location">Bir Billing,<br>
                Himachal Pradesh
            </p>
            <p class="name">View<br>
                "Frost-Glazed"
            </p>
        </div>
        <a class="gallery-link">
            <img class="actual-image" src="assets/images/pictures/bir-biling-himachal.jpg" alt="Bir-Billing, Himachal Pradesh">
        </a>
    </div>

    <div class="gallery">
        <div class="gallery-metadata">
            <p class="location">Bimma Sinkhole,<br>
                Muscat
            </p>
            <p class="name">View<br>
                "Body of the cerulean goddess"
            </p>
        </div>
        <a class="gallery-link">
            <img class="actual-image" src="assets/images/pictures/bimma-muscat.jpg" alt="Bimma Sinkhole, Muscat">
        </a>
    </div>

    <div class="gallery">
        <div class="gallery-metadata">
            <p class="location">Mumbai,<br>
                 Maharashtra
            </p>
            <p class="name">View<br>
                "Cemented abode of serenity"
            </p>
        </div>
        <a class="gallery-link">
            <img class="actual-image" src="assets/images/pictures/mumbai-sunlit-sky.jpeg" alt="mumbai-sunlit-sky">
        </a>
    </div>
</div>
