<div class="tnpFooter">
    <div class="footerMssg">
        wanna <span class="mssgHighlight">Connect<span class="questionMark">?</span></span>
    </div>
    <ul class="footerLinks">
        <li><a href="mailto:darjiruchit02@gmail.com">Email</a></li>
        <li><a href="https://www.pexels.com/@ruchit-darji-644618">Pexels</a></li>
        <li><a href="https://youpic.com/RuchitDarji">YouPic</a></li>
        <li><a href="https://github.com/ruchit02">Github</a></li>
        <li><a href="https://www.facebook.com/ruchit.darji.3">Facebook</a></li>
        <li><a href="https://www.instagram.com/t0p_n07ch/">Instagram</a></li>
    </ul>
    <div class="footerCopyright">
        <img src="assets/images/logos/websiteLogo-black.png" alt="owner's signature">
        &#169; 2021 Ruchit Darji
    </div>
</div>