<div class="tnpFooter">
    <div class="footerMssg">
        wanna <span class="mssgHighlight">Connect<span class="questionMark">?</span></span>
    </div>
    <ul class="footerLinks">
        <li><a href="">Email</a></li>
        <li><a href="">Pexels</a></li>
        <li><a href="">YouPic</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Instagram</a></li>
    </ul>
    <div class="footerCopyright">
        &#169; 2021 Ruchit Darji
    </div>
</div>