<div class="tnpHeader">
    <div class="websiteLogo">
        <img src="assets/images/logos/websiteLogo-black.png" alt="TopNotch Photography">
    </div>

    <ul class="headerLinks">
        <li>
            <span class="gallery-container">
                <label for="gallery-checkbox" class="gallery-label">Projects</label>
                <input type="checkbox" id="gallery-checkbox">
                <div class="individual-galleries">
                    <a href="#">Muscat</a>
                    <a href="#">Gujarat</a>
                    <a href="#">Maharashtra</a>
                    <a href="#">HimachalPradesh</a>
                </div>
            </span>
        </li>
        <li><a href="">About</a></li>
        <li><a href="">Blogposts</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</div>