.tnpFooter{
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px 105px;
    align-items: center;
    justify-content: space-between;
    gap: initial;

    min-height: 100vh;
    font-weight: 700;

    background-color: rgb(239,239,255);
}

.tnpFooter .footerMssg{
    font-size: 15vw;
    color: grey;
    margin-left: 10px;
}

.tnpFooter .footerMssg .mssgHighlight{
    display: block;
    color: black;
}

.tnpFooter .footerMssg .questionMark{
    color: rgb(85,26,139);
}

.tnpFooter .footerLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 10px;
}

.tnpFooter .footerLinks a{
    color: rgb(85,26,139);
}

.tnpFooter .footerCopyright{
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    color: grey;
}

.tnpFooter .footerCopyright img{
    width: 150px;
}

@media screen and (min-width: 800px){
    
    .tnpFooter{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows:initial;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
    }

    .tnpFooter .footerMssg{
        font-size: 8vw;
        margin-left: 5vw;
    }

    .tnpFooter .footerLinks{
        font-size: 2rem;
        margin-top: calc(4vw - 1rem);
    }

    .tnpFooter .footerCopyright{
        margin-left: 5vw;
    }
}