#gallery-header{
    margin: 20vh auto 0 auto;
    font-family: Cinzel;
    font-size: calc( 1rem + 1vw);
    width: max-content;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 0 auto;
}

.galleries-container{
    display: flex;
    flex-direction: column;
    width: calc( 100% - 4rem );
    margin: 20vh auto;
    row-gap: 20vh;
}

.gallery{
    display: grid;
    grid-template-areas: 
                    "a"
                    "b";
    grid-template-columns: 1fr;
    align-items: center;
    overflow: hidden;
}

.galleries-container .gallery .gallery-link{
    grid-area: a;
    overflow: hidden;
}

.galleries-container .gallery .gallery-metadata{
    grid-area: b;
    position: relative;

    font-family: Cinzel;
    font-size: 3vh;
    text-align: center;

    min-height: 20vh;
}

.galleries-container .gallery .gallery-metadata .location{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;

    opacity: 1;
}

.galleries-container .gallery .gallery-metadata .name{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;

    opacity: 0;
}

.galleries-container .gallery img{
    width: 100%;
    height: auto;

    filter: grayscale(100%);
    transform: scale(1.1);
}

.galleries-container .gallery a img:hover{
    transition: transform 0.7s, filter 0.7s ;
    filter: grayscale(0);
    transform: scale(1.0);
}


.galleries-container .gallery .gallery-metadata .location.responsive {
    opacity: 0;
    transition: 0.7s;
}

.galleries-container .gallery .gallery-metadata .name.responsive {
    opacity: 1;
    transition: 0.7s;
}


















@media screen and (min-aspect-ratio: 3/2){
    
    .gallery{
        all: revert;

        flex: 1 auto;
        background-color: rgb(239,239,255);
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
    .galleries-container .gallery .gallery-metadata{
        all: revert;

        position: relative;
        font-family: Cinzel;
        font-size: 3vw;
        text-align: center;
        min-width: 30%;

        flex: 1 auto;
    }

    .galleries-container .gallery .gallery-metadata .location{
        all: revert;

        position: absolute;
        margin: 30vh 0 0 0;
        padding: 0;
        width: 100%;

        opacity: 1;
    }

    .galleries-container .gallery .gallery-metadata .name{
        all: revert;

        position: absolute;
        margin: 30vh 0 0 0;
        padding: 0;
        width: 100%;

        opacity: 0;
    }

    .galleries-container .gallery .gallery-link{
        grid-area: unset;
    }

    .galleries-container .gallery .gallery-metadata:nth-of-type(2){
        order: 1;
    }

    .galleries-container .gallery img{
        max-height: 80vh;
        width: auto;
    }
    
}