.slideshow-div{
    
    box-sizing: inherit;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    --slideshow-image-width: 98vw;
    height: calc( 0.457540635*var(--slideshow-image-width) );
    margin-top: 20vh;
}

.slideshow-div .slideshow-images{
    position: absolute;
    width: 100%;
    opacity: 0;
}