<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Topnotch Photography</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="assets/css/styles.css">
		
        <script defer type="text/javascript" src="assets/js/slideshow.js"></script>
        <script defer type="text/javascript" src="assets/js/get-image-dimensions.js"></script>
		<script defer type="text/javascript" src="assets/js/header.js"></script>
	</head>
	<body>
		{%include header.html%}
		{{ content }}
		{%include footer.html%}
	</body>
</html>